html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.masthead{
  background-image: url("../images/background.jpg");
  display: block;
  margin-top: -2em;
  padding-bottom: 3.3em;
  padding-top: 2em;
}

h1{
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  margin: 0;
  padding-bottom: .2em;
  font-family: 'Lobster', cursive;
  color: #cc3300;
}

div{
  display: block;
}
nav{
  float: left;
  overflow: hidden;
  width: 100%;
}

nav li{
  float: left;
  margin: 0;
  width: 25%;
  text-align: center;
  font-weight: bold;
}
nav li:hover{
  background-color: #666666;
  opacity: 0.8;
}

ol li{
  font-size: 1em;
  text-decoration: none;
}

nav{
  float: left;
  overflow: hidden;
  width: 100%;
}

nav ol{
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}
nav a{
  color: #cccccc;
  font-size: .99rem;
  padding: 0.95em;
  text-align: center;
  text-decoration: none;
  background-color: #333333;
  opacity: .5;
  display: block;
  font-family: 'Lobster', cursive;
}


h2{
padding-top: 7em;
padding-bottom: 8em;
color: #fff;
font-size: 2em;
margin-bottom: -1px;
width: 101%;
text-align: center;
margin: -1px;
font-weight: bold;
font-family: 'Roboto', sans-serif;
background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5))
}

.banner{
  background-image: url("../images/indian-food3.jpg");
  background-size: cover;
  display: block;
  margin: 0;
}

.footer{
  opacity: 0.5;
  padding: 2em;
}

  footer{
  background-image: url("../images/background.jpg");
  padding-top: 3em;
  text-align: center;
}

div {
  padding: 1px;
  text-align: center;
}

p{
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
}
.p2{
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #cc3300;
  text-align: center;
  text-decoration: none;
}
.pic1{
  background-image: url("../images/background.jpg");
}

.interior1{
  width: 50%;
  border-radius: 22em;
  padding-top: 2em;
}

.pic2{
  background-image: url("../images/background.jpg");
}

.indian1{
  width: 50%;
  border-radius: 22em;
  padding-top: 2em;
}

.indian4{
  width: 100%;
}

h3{
  color: #cc6600;
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

iframe{
  width:100%;
}

.bar1{
  background-color: #cc6600;
padding: 1em;
}

h4{
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}
.p3{
  color: black;
  text-align: center;
}

a{
  color: #cc3300;
  text-decoration: none;
}

.bar2{
    background-color: #cc6600;
  padding: 1em;
  }

table{
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body{
  padding: 0;
  margin: 0;
}
.pic3{
  padding: 0;
margin-bottom: -3.5px;
}
